
/* styles for screens*/


@media screen and (max-width: 768px)  {

 nav ul {
  display:none;
  
}
  nav li {
  display:none;
  
}

.page-break{
display:none;
}

.container {
    display: none;

}
  .switch-wrapper {
  display: none;
  }
    .nav-bar2{

    display: none;
  }
.images {
display:none;
}

.warning{
display:inherit;
}

}

