
/* styles for screens*/

@media all and (min-width: 1600px)  {

  nav ul {
  display:none;
  
}
  nav li {
  display:none;
  
}
.container {
    display:none;

}
.abstract{
display:none;
}

.images {
display:none;
}
  .nav-bar2{

    display: none;
  }

.switch-wrapper {
  display: none;
  }

}

@media all and (max-width: 1600px)  {
 nav ul {
  display:none;
  
}
  nav li {
  display:none;
  
}
.container {
    display:none;

}

.abstract{
display:none;
}
  .switch-wrapper {
  display: none;
  }
  
  .nav-bar2{

    display: none;
  }
  
.images {
display:none;
}

}

@media all and (max-width: 1370px)  {

 nav ul {
  display:none;
  
}
  nav li {
  display:none;
  
}
.container {
    display:none;

}
.switch-wrapper {
  display: none;
  }

.images {
display:none;
}

.abstract{
display:none;
}
  .nav-bar2{

    display: none;
  }

}


@media all and (max-width: 1200px)  {
 
  nav ul {
  display:none;
  
}
  nav li {
  display:none;
  
}
.container {
display: none;

}
  
.switch-wrapper {
  display: none;
  }

.abstract{
display:none;
}

.images {
display:none;
}

}

@media all and (max-width: 1024px)  {

 nav ul {
  display:none;
  
}
  nav li {
  display:none;
  
}
.container {
    display: none;

}
  .switch-wrapper {
  display: none;
  }

.images {
display:none;
}
  .nav-bar2{

    display: none;
  }
}

@media all and (max-width: 992px)  {

 nav ul {
  display:none;
  
}
  nav li {
  display:none;
  
}
.container {
    display: none;

}

.switch-wrapper {
  display: none;
  }
  
.images {
display:none;
}
  .nav-bar2{

    display: none;
  }
}

@media all and (max-width: 768px)  {

 nav ul {
  display:none;
  
}
  nav li {
  display:none;
  
}
.container {
    display: none;

}
  .switch-wrapper {
  display: none;
  }
    .nav-bar2{

    display: none;
  }
.images {
display:none;
}

}

