
@media print {
  .print {page-break-after: always;}


  .right{
    position: static;
    width: 60%;
    right: 0px;
  }

  .nav-bar2{

    display: none;
  }
  .switch-wrapper {
  display: none;
  }
  
  .warning{
display:none;
}
  
  .alpha {
  opacity:0;
}

a {
    font-family: "DTL Documenta TOT", DTL Documenta TOT;
    font-size: 13pt;
    line-height:16pt;
	color:#000;
    text-decoration: none;
}

h1 {
 font-family: "DTL Documenta TOT", DTL Documenta TOT;
 font-size: 200px;
}  
  
h2 {
    font-family: "DTL Documenta TOT", DTL Documenta TOT;
    font-size: 80px;
}

a[data-toggle=tooltip]:after {
	content:" [" attr(title) "] ";
}

}